# Temporary files
*~
*#
*.swp
*.DS_Store
*.iml
*aggregated_results.txt

# IDE directories
.idea/
.vscode/

# Virtual environments
venv/
.tox/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/
build/
dist/
cdk/cdk.out/
cdk/node_modules/
cdk/lib/constructs/test/Dockerfile.tmp
cdk/cdk.context.json

# Coverage reports
.coverage
.coverage.*
htmlcov/

# Test and cache directories
.cache
.pytest_cache/
.mypy_cache/
test_tmp/
tox_conda_tmp*

# Documentation build directories
doc/_apidoc/
doc/_spec/
doc/autoapi/

# Config
cdk/bin/deployment/deployment.json
