repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        args: ["--line-length=125"]
        types: [file, python]

  - repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
      - id: isort
        args: ["--line-length=125", "--profile=black"]
        types: [file, python]

  - repo: https://github.com/PyCQA/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        args: ["--max-line-length=125", "--max-complexity=10"]
        types: [file, python]

  - repo: https://github.com/pre-commit/mirrors-autopep8
    rev: v2.0.4
    hooks:
      - id: autopep8
        args:
          [
            '--ignore=["E203","W503","W605"]',
            "--max-line-length=125",
            "--in-place"
          ]
        types: [file, python]

  - repo: https://github.com/aws-samples/automated-security-helper
    rev: 'v3.0.0'
    hooks:
        - id: ash
          stages: [ manual ]
          # uncomment the line below if using "finch" on MacOS
          # args: [ "-f" ]

  - repo: https://github.com/sbrunner/pre-commit-copyright
    rev: 1.6.1
    hooks:
      - id: copyright
        name: update copyright
        exclude: |
          (?x)^(
            doc/.*|
            ^\..+|
            .+\.md|
            test/data/.*|
            LICENSE|
            NOTICE|
            tox.ini|
            pyproject.toml|
            setup.cfg|
            setup.py|
            py.typed|
            cdk/\..+|
            cdk/jest.config.js|
            cdk/eslint.config.mjs|
            cdk/package.json|
            cdk/package-lock.json|
            cdk/tsconfig.json|
            cdk/cdk.json|
            cdk/.+\.example$
          )$
      - id: copyright-required
        name: require copyright
        exclude: |
          (?x)^(
            doc/.*|
            ^\..+|
            .+\.md|
            test/data/.*|
            LICENSE|
            NOTICE|
            tox.ini|
            pyproject.toml|
            setup.cfg|
            setup.py|
            py.typed|
            cdk/\..+|
            cdk/jest.config.js|
            cdk/eslint.config.mjs|
            cdk/package.json|
            cdk/package-lock.json|
            cdk/tsconfig.json|
            cdk/cdk.json|
            cdk/.+\.example$
          )$

  - repo: local
    hooks:
      - id: npm-install
        name: Install npm dependencies
        entry: bash -c 'cd cdk && npm ci'
        language: system
        files: ^cdk/.*\.(ts|tsx|js|jsx|json)$
        pass_filenames: false

      - id: jest
        name: Jest Tests
        entry: bash -c 'cd cdk && npm test'
        language: system
        files: ^cdk/.*\.(ts|tsx)$
        types: [ file ]
        pass_filenames: false

      - id: eslint
        name: ESLint
        entry: bash -c 'cd cdk && npx eslint --fix --max-warnings 0 "**/*.{js,ts}"'
        language: system
        files: ^cdk/.*\.(ts|tsx|js)$
        types: [file]

      - id: prettier
        name: Prettier
        entry: bash -c 'cd cdk && npx prettier --write .'
        language: system
        files: ^cdk/.*\.(ts|tsx|js|jsx|json|yml|yaml|md)$
        types: [file]
