name: Build

on:
  pull_request:
    branches: ["main"]

permissions:
  contents: read

concurrency:
  group: build-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    uses: ./.github/workflows/tox.yml
    secrets: inherit
  pre-commit:
    uses: ./.github/workflows/pre-commit.yml
    secrets: inherit
