name: Run Integration Tests

permissions:
  id-token: write
  contents: read

on:
  workflow_call:
    inputs:
      aws_region:
        required: true
        type: string
    secrets:
      TILE_SERVER_ACCOUNT_ID:
        required: true

env:
  AWS_REGION: ${{ inputs.aws_region }}
  AWS_PAGER: ""
  PYTHON_VERSION: '3.13'

jobs:
  run-integration-tests:
    runs-on: ubuntu-latest
    timeout-minutes: 90
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup AWS OIDC
        uses: ./.github/actions/setup-aws-oidc
        with:
          aws_region: ${{ inputs.aws_region }}
          account_id: ${{ secrets.TILE_SERVER_ACCOUNT_ID }}
          role_duration_seconds: '7200'
      - name: Setup Python
        uses: ./.github/actions/setup-python
        with:
          python_version: ${{ env.PYTHON_VERSION }}
      - name: Run integration tests
        env:
          AWS_REGION: ${{ inputs.aws_region }}
        run: |
          bash scripts/tile_server_integ.sh
