# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Run Unit Tests

on:
  workflow_dispatch:
  workflow_call:

permissions:
  contents: read

env:
  PYTHON_VERSION: '3.12'

jobs:
  run-unit-tests:
    runs-on: ubuntu-latest
    timeout-minutes: 45
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: '0'
        lfs: 'true'
    - name: Setup Python
      uses: ./.github/actions/setup-python
      with:
        python_version: ${{ env.PYTHON_VERSION }}
        cache_dependency_paths: 'pyproject.toml,tox.ini'
    - name: Free disk space
      run: |
        sudo rm -rf /opt/ghc /usr/local/lib/android /usr/share/dotnet
    - name: Run Tox
      run: |
        pip install tox
        tox
    - name: Upload coverage reports
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: coverage-report
        path: htmlcov/
        if-no-files-found: ignore
